@page "/"
@inject IJSRuntime JS

<h1>Dino Hop</h1>

<canvas id="gameCanvas" width="600" height="200" style="border:1px solid #000000;">
    Your browser does not support the canvas element.
</canvas>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("DinoGame.init");
        }
    }
}
